ul li{
text-align: center;
    color: aliceblue;
    border-bottom: 2px solid white;
    font-size: 40px;
    list-style: none;
    cursor: pointer;
}
ul li:hover{
    background-color: brown;
}
a{
    text-decoration: none;
}